{
  "extends": "airbnb",
  "globals": {
    "require": true,
    "window": true,
    "document": true,
    "fetch": true,
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true
  },
  "rules": {
    "linebreak-style": 0,
    "indent": ["error", 4, {
      "SwitchCase": 1,
      "VariableDeclarator": 1,
      "outerIIFEBody": 1,
      "FunctionDeclaration": {
        "parameters": 1,
        "body": 1
      },
      "FunctionExpression": {
        "parameters": 1,
        "body": 1
      }
    }],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "eol-last": 0,
    "no-unused-vars": 0,
    "no-shadow": 0,
    "arrow-parens": ["error", "always"],
    "no-class-assign": 0,
    "no-underscore-dangle": 0,
    "comma-dangle": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/newline-after-import": 0,
    "global-require": 0
  }
}