*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 30px auto;
    background-color: white;
    border-radius: 3px;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
    padding: 0 60px;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
    width: 100%;
}

p.caption {
    font-size: 16px;
    margin: 0;
}

section {
    padding: 15px 60px 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.text-field-group > div {
    margin-right: 16px;
}

.footer {
    padding: 0 60px 15px;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .column {
    width: 50%;
}